{
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": [
      1,
      {
        "objects": "always",
        "arrays": "ignore",
        "imports": "ignore",
        "exports": "ignore",
        "functions": "ignore"
      }
    ],
    "react/jsx-first-prop-new-line": [
      1,
      "multiline"
    ],
    "react/jsx-max-props-per-line": [
      1,
      {
        "when": "always"
      }
    ]

  }
}